:root {
    --main-color:#a1fa1b;
    --main-bg-color:#ae0f66;
}

@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin:0;
    padding:0;
} 

a {
    text-decoration: none;
    color:var(--main-color);
}

@media all and (min-width:1024px){/*데스크탑용*/
    .nav {
        position: fixed;
        top: 0;
        left:0;
        right:0;
        background-color:var(--main-bg-color);
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 4rem;
        height: 6rem;
    }
    
    .logo {
        display:flex;
        width:30%;
        align-content: center;
        font-size: 7rem;
        margin-left: 0.8rem;   
        font-family: 'GangwonEduPowerExtraBoldA';      
        color:var(--main-color);                                                                                                                                                                                                                                                                                                                                                         
    }
    
    .btn-container {
        display:flex;
        flex-direction: row;
        align-items:flex-end
    }
    
    .btn {
        padding-bottom: 1.3rem;
        margin-left: 0.3rem;
        margin-right: 1.4rem;
        font-family: 'Pretendard-Regular';
        font-weight: bold;
    }
    .mobile-btn {
        display:none;
    }

    body {
        padding-top: 10rem;
    }
    
    .body-img {
        width: 95vw;
    }
    
    .body-img-container {
        display:flex;
        justify-content: center;
    }

    .card-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 5rem;
    }
    .card {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 10rem;
        height: 15.8rem;
        overflow: hidden;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        background-color: white;

    }

    .card:hover{
        transform: scale(2);
        transition-duration: 0.4s;
    }

    .about-img{
        width: 100%;
        object-fit: contain;        
}

    .card-content {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        margin-bottom: 0.5rem;
        width: 100%;
        height: 60%; 

    }

    .card-title {
        font-weight: 900;
    }

    .card-text {
        margin-top:1rem;
        font-size: x-small;
    }

    .map-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    .map1 {
        width: 40rem;
        height: 40rem;        
    }


@media all and (max-width:1023px){/*모바일용*/
    .nav {
        background-color: white;
        color: black;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .logo {
        display:flex;
        width:30%;
        align-content: center;
        font-size: 4rem;
        margin-left: 0.8rem;
    }
    
    .btn-container {
        display:flex;
        flex-direction: row;
        align-items:flex-end
    }
    
    .btn {
        display: hidden;
    }

    .mobile-btn{
        padding-bottom: 1.3rem;
        margin-left: 0.3rem;
        margin-right: 1.4rem;
    }
    .body-img {
        width: 95vw;
    }
    
    .body-img-container {
        display:flex;
        justify-content: center;
    }

    


}
}
